$not: (
  danger: #721c24,
  success: #155724,
);

@each $key, $cor in $not {
  .notification-#{$key} {
    background: linear-gradient(125deg, lighten($cor, 65), lighten($cor, 50));
    border-color: lighten($cor, 55);
    color: $cor;
  }

  .notification-header-#{$key} {
    border-bottom: 1px solid $cor;
  }
}

$colors: (
  elixir: #6e4a7e,
  typescript: #2b7489,
);

@each $key, $cor in $colors {
  .btn-#{$key} {
    background: $cor;
    border-color: $cor;
    color: white;

    &:hover,
    &:focus {
      background: darken($cor, 7.5%);
      border-color: darken($cor, 10%);
      color: white;
    }

    &:active {
      background: darken($cor, 10%);
      border-color: darken($cor, 12.5%);
      color: white;
    }
  }
}
